/node_modules
/public/hot
/public/storage
/public/upload
/public/fonts/vendor
/public/mix-manifest.json
/public/*.js
/storage/*.key
/storage/medialibrary
/storage/debugbar
/vendor
/.idea
/.htaccess
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.settings
package-lock.json
mix-manifest.json

/tests-jest.xml
/tests-phpunit.xml
.vscode/
public/js
public/css
website/public/images/vendor
bootstrap/cache
